# 빌드 결과물
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDE 관련 파일
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

# 로그 파일
*.log
logs/

# 환경 설정 파일
application-*.yml
application-*.properties
!application.yml
!application.properties

# 기타
HELP.md
.DS_Store